{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
{#    <script>#}
{#        function f() {#}
{#            //get any input field on the page using its html tag#}
{#            var input = document.getElementsByTagName('input');#}
{#            //add a class of form control to the fist input field#}
{#            for (var i = 0; i < input.length; i++) {#}
{#                input[i].className += ' form-control';#}
{#            }#}
{##}
{#        }#}
{##}
{#        window.onload = f;#}
{#    </script>#}
    <style>
    input{

        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
    }
    </style>
    <main>
    	<div class="box_form clearfix">
        <div class="container margin_60_35">
            <h1>Forgot your password?</h1>
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" style="background-color:  #4d9572;" class="btn_1" value="Send me instructions!">
            </form>
        </div>
            </div>
    </main>
{% endblock %}