{% extends 'homepage-base.html' %}
{% block content %}
    <style>
        .form-group {
            font-size: 15px;
        }

        .form-control {
            font-size: 15px;
            width: 100%;
        }
        .cont{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>
    <script>
    var inputs = document.getElementsByTagName('input');
    //add a class of form-control to all inputs
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].className += ' form-control';
    }
    </script>
    <div class="container">
        <div>
            <h1></h1>
            <p>
{#                Thank you for your interest in donating to the {{ project_name }} project.#}

            </p>
            {% if donation.donation_type == '1' %}
                <div  class="cont " id="smart-button-container">
                    <div style="text-align: center"><label for="description">Description </label><input class="form-control" type="text"
                                                                                                        name="descriptionInput"
                                                                                                        id="description"
                                                                                                        maxlength="127"
                                                                                                        value=""></div>
                    <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a
                        description</p>
                    <div style="text-align: center"><label for="amount"> </label><input name="amountInput" class="form-control" type="number"
                                                                                        id="amount"
                                                                                        value=""><span> USD</span></div>
                    <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a
                        price</p>
                    <div id="invoiceidDiv" style="text-align: center; display: none;"><label
                            for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid"
                                                            value=""></div>
                    <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an
                        Invoice ID</p>
                    <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD"
                        data-sdk-integration-source="button-factory"></script>
                <script>
                    function initPayPalButton() {
                        var description = document.querySelector('#smart-button-container #description');
                        var amount = document.querySelector('#smart-button-container #amount');
                        var descriptionError = document.querySelector('#smart-button-container #descriptionError');
                        var priceError = document.querySelector('#smart-button-container #priceLabelError');
                        var invoiceid = document.querySelector('#smart-button-container #invoiceid');
                        var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
                        var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

                        var elArr = [description, amount];

                        if (invoiceidDiv.firstChild.innerHTML.length > 1) {
                            invoiceidDiv.style.display = "block";
                        }

                        var purchase_units = [{
                            "amount": {
                                "currency_code": "USD",
                                "value": 1,
                                "breakdown": {"item_total": {"currency_code": "USD", "value": 1}}
                            },
                            "items": [{
                                "name": "item name",
                                "unit_amount": {"currency_code": "USD", "value": 1},
                                "quantity": "1",
                                "category": "DONATION"
                            }]
                        }]

                        function validate(event) {
                            return event.value.length > 0;
                        }

                        paypal.Buttons({
                            style: {
                                color: 'silver',
                                shape: 'rect',
                                label: 'donate',
                                layout: 'vertical',

                            },

                            onInit: function (data, actions) {
                                actions.disable();

                                if (invoiceidDiv.style.display === "block") {
                                    elArr.push(invoiceid);
                                }

                                elArr.forEach(function (item) {
                                    item.addEventListener('keyup', function (event) {
                                        var result = elArr.every(validate);
                                        if (result) {
                                            actions.enable();
                                        } else {
                                            actions.disable();
                                        }
                                    });
                                });
                            },

                            onClick: function () {
                                if (description.value.length < 1) {
                                    descriptionError.style.visibility = "visible";
                                } else {
                                    descriptionError.style.visibility = "hidden";
                                }

                                if (amount.value.length < 1) {
                                    priceError.style.visibility = "visible";
                                } else {
                                    priceError.style.visibility = "hidden";
                                }

                                if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                                    invoiceidError.style.visibility = "visible";
                                } else {
                                    invoiceidError.style.visibility = "hidden";
                                }

                                purchase_units[0].description = description.value;
                                purchase_units[0].amount.value = amount.value;
                                purchase_units[0].amount.breakdown.item_total.value = amount.value;
                                purchase_units[0].items[0].unit_amount.value = amount.value;

                                if (invoiceid.value !== '') {
                                    purchase_units[0].invoice_id = invoiceid.value;
                                }
                            },

                            createOrder: function (data, actions) {
                                return actions.order.create({
                                    purchase_units: purchase_units,
                                });
                            },

                            onApprove: function (data, actions) {
                                return actions.order.capture().then(function (orderData) {

                                    // Full available details
                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                                    // Show a success message within this page, e.g.
                                    const element = document.getElementById('paypal-button-container');
                                    element.innerHTML = '';
                                    element.innerHTML = '<h3>Thank you for your payment!</h3>';

                                    // Or go to another URL:
                                    actions.redirect('thank_you.html');
                                    //send get request to the server to save the order
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/save_order/{{ pk }}');
                                    xhr.setRequestHeader('Content-Type', 'application/json');
                                    xhr.send(JSON.stringify(orderData));
                                });

                            },

                            onError: function (err) {
                                console.log(err);
                            }
                        }).render('#paypal-button-container');
                    }

                    initPayPalButton();
                </script>
            {% elif donation.donation_type == '0' %}
                <form method="post" action="">{% csrf_token %}

                    <div class="form-group">

                        <label for="inputAddress">Pickup Center</label>
                        <select  required  style="width: 50%;" class="form-control" name="pickupCenter">
                            <option value="">Select a pickup center</option>
                            {% for pickup in pickup_stations %}
                                <option value="{{ pickup.id }}">{{ pickup.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Item description</label>
                        <input style="width: 50%;" name="description" type="text"  required class="form-control" id="inputAddress2"
                               placeholder="Text books,Shoes ">
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" required type="checkbox" id="gridCheck"><br>
                            <label class="form-check-label" for="gridCheck">
                                I agree to the terms and conditions
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Donate</button>
                    <br><br>

                </form>
                {% else %}
                {{ donation.donation_type  }}llllllllllllllll
            {% endif %}



        </div>
    </div>
{% endblock %}  