{% extends 'homepage-base.html' %}
{% block content %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            {#background-color: #2196F3;#}
            padding: 10px;
        }

        .grid-item {
            {#background-color: rgba(255, 255, 255, 0.8);#}
            {#border: 1px solid rgba(0, 0, 0, 0.8);#}
            padding: 20px;
            {#font-size: 30px;#}
            {#text-align: center;#}
        }
    </style>

    <section class="our_cuauses">
        <h2>OUR CAUSES</h2>
        <p>Take a glimpse at urgent causes you can assist with </p>


     <div class="container">
            <div class="row">
                {% for i in ngodonations %}
                    <div class="col-sm">

                        <div class="card item" style=" max-width:300px; box-shadow: 3px 5px #888888;">
                            {% if i.poster %}
                                <img class="card-img-top" style="max-height:250px;" src=" {{ i.poster.url }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div style="height: auto;" class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.donatio_description }}</p><br>
                                <a href="{% url 'donate' i.pk %}" style="background-color: #671e2d;"
                                   class="btn btn-primary">Donate</a>
                            </div>
                        </div>


                    </div>
                {% endfor %}

            </div>
        </div>


        <div class="container">
            <div class="row">
                {% for i in bendonations %}
                    <div  style="margin-top: 50px;" class="col-sm">

                        <div class="card item" style=" max-width:300px; box-shadow: 3px 5px #888888;">
                            {% if i.poster %}
                                <img class="card-img-top" style="max-height:250px;" src=" {{ i.poster.url }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div style="height: auto;" class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.donatio_description }}</p><br>
                                <a href="{% url 'donate' i.pk %}" style="background-color: #671e2d;"
                                   class="btn btn-primary">Donate</a>
                            </div>
                        </div>


                    </div>
                {% endfor %}

            </div>
        </div>

{#        <div class="container">#}
{#            <div class="flex-row">#}
{#            <div class="our_cuauses_single owl-theme">#}
{#                {% for i in bendonations %}#}
{##}
{##}
{##}
{##}
{#                <div class="card item" style="width: 33%;">#}
{#                {% if i.poster  %}#}
{#                    <img class="card-img-top" style="max-height:250px;" src=" {{ i.poster.url }}" alt="Card image cap">#}
{#                    {% endif %}#}
{#                    <div  style="height: auto;" class="card-body">#}
{#                        <h5 class="card-title">{{ i.title}}</h5>#}
{#                        <p class="card-text">{{ i.donatio_description }}</p><br>#}
{#                        <a href="{% url 'donate' i.pk %}" style="background-color: #671e2d;" class="btn btn-primary">Donate</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                {% endfor %}#}
{#           #}
{#             {% for i in ngodonations %}#}
{##}
{##}
{##}
{##}
{#                <div class="card item" style="width: 33%;">#}
{#                    {% if i.poster  %}#}
{#                    <img class="card-img-top" style="max-height:250px;" src=" {{ i.poster.url }}" alt="Card image cap">#}
{#                    {% endif %}#}
{#                    <div  style="height: auto;" class="card-body">#}
{#                        <h5 class="card-title">{{ i.title}}</h5>#}
{#                        <p class="card-text">{{ i.donatio_description }}</p><br>#}
{#                        <a href="{% url 'donate' i.pk %}" style="background-color: #671e2d;" class="btn btn-primary">Donate</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                {% endfor %}#}
{#           #}
{##}
{##}
{#            </div>#}



<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

        </div>
    </section>



{% endblock %}