{% extends 'homepage-base.html' %}
{% load static %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
        .volunteer_area {
            margin-top: 0 !important;
        {#position: relative;#}{#top: -100px;#}
        }

        .our_cuauses .our_cuauses_single {
            margin-bottom: 0;
            margin-top: 0;
        }

        .mycards {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            justify-content: center;

        }
    </style>

    <section class="carosal-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="background-image: url('{% static "img/bg2.jpg" %}');
                            background-size: contain;
                            background-position: center;
                            background-size: cover;

                            "
                         class="client owl-carousel owl-theme">
                        <div class="item">
                            <div style="padding: 20px;" class="text">
                                <h3>YOUR COMMUNITY NEEDS YOUR HELP</h3>
                                <p>Like our name suggests, we are here to enable. We Connect the more privileged with
                                    those in need.<br> Click on the Donate button to view the causes listed on Uwezo
                                </p>
                                <h5 class="white-button"><a href="{% url 'causes' %}">DONATE NOW</a></h5>
                                <h5><a href="#">CONTACT US</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="text">
                                <h3>YOUR COMMUNITY NEEDS YOUR HELP</h3>
                                <p>Join the movement to transform your community <!--wordings for charity -->. </p>
                                <h5 class="white-button"><a href="{% url 'causes' %}">DONATE NOW</a></h5>
                                <h5><a href="#">CONTACT US</a></h5>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our_activity">
        <h2>OUR ACTIVITIES</h2>
        <p>Join Us as we carry out various community transformation activities like fundraisers,<br>visits to the less
            privilleged among others </p>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="single-Promo">
                        <div class="promo-icon">
                            <i class="material-icons">near_me</i>
                        </div>
                        <h2><a href="#">Fundraising</a></h2>
                        <p>We occasionally hold fund raising events to accumulate funds that are channelled to help the
                            less fortunate in the society. </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-Promo">
                        <div class="promo-icon">
                            <i class="material-icons">favorite</i>
                        </div>
                        <h2><a href="#">Volunteering</a></h2>
                        <p>Show up and make a difference by dedicating your time and skills to service.It is indeed true
                            that one man can change the world </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-Promo">
                        <div class="promo-icon">
                            <i class="material-icons">dashboard</i>
                        </div>
                        <h2><a href="#">Our Programs</a></h2>
                        <p>Some of our programs like Lipa fees are intended to reach those who cannot reach us.Please
                            Contact us for more information </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="donate_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 for-padding">
                    <h4>Find something you can help with</h4>
                    <h3>Books,Clothes,Whatever it is </h3>
                    <p>The little things, The least noticeable ones often make the most difference. Whatever little or
                        much contribution you have can go a long way</p>

                    <h2><a href="{% url 'causes' %}">View Causes</a></h2>
                </div>
            </div>
        </div>
    </section>


    <div class="block-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p style="color: #a9a9a9;"><i style="color:#671e2d !important;  " class="material-icons">favorite</i>
                        </p>
                        <p style="color: #a9a9a9;" class="counter-wrapper"><span
                                style="color: #a9a9a9;">{{ causes_count }}</span></p>
                        <p style="color: #a9a9a9;" class="text-block">CAUSES</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p style="color: #a9a9a9;"><i style="color:#671e2d !important;
                                " class="material-icons">language</i></p>
                        <p class="counter-wrapper"><span style="color: #a9a9a9;">{{ pickup_stations_count }}</span></p>
                        <p style="color: #a9a9a9;" class="text-block">Pick up Centers</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p style="color: #a9a9a9;"><i style="color:#671e2d !important;
                                " class="material-icons">person_add</i></p>
                        <p style="color: #a9a9a9;" class="counter-wrapper">
                                <span style="color: #a9a9a9;"
                                >{{ beneficiaries_count }}
                                    </span>
                        </p>
                        <p style="color: #a9a9a9;" class="text-block">Beneficiaries</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p style="color: #a9a9a9;"><i style="color:#671e2d !important;
                                " class="material-icons">people</i></p>
                        <p class="counter-wrapper"><span style="color: #a9a9a9;">3</span></p>
                        <p style="color: #a9a9a9;" class="text-block">Volunteers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="our_cuauses">
        <h2>OUR CAUSES</h2>
        <p>Take a glimpse at urgent causes you can assist with. </p>

        <div class="container">
            <div class="row">
                {% for i in ngodonations %}
                    <div class="col-sm">

                        <div class="card item" style=" max-width:300px; box-shadow: 3px 5px #888888;">
                            {% if i.poster %}
                                <img class="card-img-top" style="max-height:250px;" src=" {{ i.poster.url }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div style="height: auto;" class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.donatio_description }}</p><br>
                                <a href="{% url 'donate' i.pk %}" style="background-color: #671e2d;"
                                   class="btn btn-primary">Donate</a>
                            </div>
                        </div>


                    </div>
                {% endfor %}

            </div>
        </div>


        <div class="container">
            <div class="row">
                {% for i in donations %}
                    <div   style="margin-top: 50px;"class="col-sm">

                        <div class="card item" style=" max-width:300px; box-shadow: 3px 5px #888888;">
                            {% if i.poster %}
                                <img class="card-img-top" style="max-height:250px;" src=" {{ i.poster.url }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div style="height: auto;" class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.donatio_description }}</p><br>
                                <a href="{% url 'donate' i.pk %}" style="background-color: #671e2d;"
                                   class="btn btn-primary">Donate</a>
                            </div>
                        </div>


                    </div>
                {% endfor %}

            </div>
        </div>


    </section>


{% endblock %}
