{% extends 'homepage-base.html' %}
{% load static  %}
{% block content %}
    <style>
    .volunteer_area{
        margin-top: 0 !important;
        {#position: relative;#}
        {#top: -100px;#}
    }

.our_cuauses .our_cuauses_single{
    margin-bottom: 0;
    margin-top: 0;
}
    </style>
        <section class="carosal-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="client owl-carousel owl-theme">
                            <div class="item">
                                <div class="text">
                                    <h3>CHILDREN NEED YOUR HELP</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo </p>
                                    <h5 class="white-button"><a href="#">DONATE NOW</a></h5>
                                    <h5><a href="#">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>CHILDREN NEED YOUR HELP</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo </p>
                                    <h5 class="white-button"><a href="#">DONATE NOW</a></h5>
                                    <h5><a href="#">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>CHILDREN NEED YOUR HELP</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo </p>
                                    <h5 class="white-button"><a href="#">DONATE NOW</a></h5>
                                    <h5><a href="#">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>CHILDREN NEED YOUR HELP</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo </p>
                                    <h5 class="white-button"><a href="#">DONATE NOW</a></h5>
                                    <h5><a href="#">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>CHILDREN NEED YOUR HELP</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo </p>
                                    <h5 class="white-button"><a href="#">DONATE NOW</a></h5>
                                    <h5><a href="#">CONTACT US</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our_activity">
            <h2>OUR ACTIVITY</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">near_me</i>
                            </div>
                            <h2><a href="#">Fundraising</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">favorite</i>
                            </div>
                            <h2><a href="#">Volunteering</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">dashboard</i>
                            </div>
                            <h2><a href="#">Our Programs</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="donate_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 for-padding">
                        <h4>Find something you can help with</h4>
                        <h3>Books,Clothes,Whatever it is </h3>
                        <p>Make a huge difference in someones life with the little things</p>

{#                        <div class="progress-text">#}
{#                            <p class="progress-top">50%</p>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>#}
{#                            </div>#}
{#                            <p class="progress-left">Raised: $1200</p>#}
{#                            <p class="progress-right">Goal: $2400</p>#}
{#                        </div>#}
                        <h2><a href="{% url 'causes' %}">View Causes</a></h2>
                    </div>
                </div>
            </div>
        </section>


        <div class="block-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p style="color: #a9a9a9;"><i style="color:#671e2d !important;  " class="material-icons">favorite</i></p>
                            <p style="color: #a9a9a9;" class="counter-wrapper"><span style="color: #a9a9a9;" class="fb"></span></p>
                            <p style="color: #a9a9a9;" class="text-block">CAUSES</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p style="color: #a9a9a9;"><i style="color:#671e2d !important;
                                " class="material-icons">language</i></p>
                            <p class="counter-wrapper"><span style="color: #a9a9a9;" class="code"></span></p>
                            <p style="color: #a9a9a9;" class="text-block">Pick up Centers</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p style="color: #a9a9a9;"><i style="color:#671e2d !important; 
                                " class="material-icons">person_add</i></p>
                            <p style="color: #a9a9a9;" class="counter-wrapper">
                                <span style="color: #a9a9a9;" class="bike">
                                    </span>
                            </p>
                            <p style="color: #a9a9a9;" class="text-block">Beneficiaries</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p style="color: #a9a9a9;"><i style="color:#671e2d !important;
                                " class="material-icons">people</i></p>
                            <p class="counter-wrapper"><span style="color: #a9a9a9;" class="coffee"></span></p>
                            <p class="text-block">Beneficiaries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="our_cuauses">
            <h2>OUR CAUSES</h2>
            <p>Take a glimpse at urgent causes you can assist with </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_cuauses_single owl-carousel owl-theme">
                            {% for i in donations %}
                            <div   class="item">
                                <img style="height: 200px;"src="{{ i.poster.url }}" alt="">
                                <div style="padding: 20px;" class="for_padding">
                                    <p2>{{ i.title}}</p>
                                    <p>{{ i.donatio_description }}</p>
{#                                    <div class="progress-text">#}
{#                                        <p class="progress-top">50%</p>#}
{#                                        <div class="progress">#}
{#                                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>#}
{#                                        </div>#}
{#                                        <p class="progress-left">Raised: <span>$1200</span></p>#}
{#                                        <p class="progress-right">Goal: <span>$2400</span></p>#}
{#                                    </div>#}
                                    <h2 class="borderes"><a href="{% url 'donate' i.pk %}">DONATE NOW</a></h2>
                                </div>

                            </div>
                             {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="volunteer_area">
            <h2>Our Volunteer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="volunteer_single owl-carousel owl-theme">
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_1.jpg' %}" alt="">
                                <div class="text">
                                    <h3>Laura Jammy</h3>
                                    <h6>Designer</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_2.jpg' %}" alt="">
                                <div class="text">
                                    <h3>Albert R. Ardoin</h3>
                                    <h6>Actor</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_3.jpg' %}" alt="">
                                <div class="text">
                                    <h3>Cynthia Anni</h3>
                                    <h6>Singer</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_1.jpg' %}" alt="">
                                <div class="text">
                                    <h3>Laura Jammy</h3>
                                    <h6>Designer</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_2.jpg' %}" alt="">
                                <div class="text">
                                    <h3>Albert R. Ardoin</h3>
                                    <h6>Actor</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_3.jpg' %}" alt="">
                                <div class="text">
                                    <h3>Cynthia Anni</h3>
                                    <h6>Singer</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="carosal_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="carosal_bottom_single owl-carousel owl-theme">
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_1.jpg' %}" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                                <h5><i class="material-icons">format_quote</i></h5>
                                <h4>Florence M. Cofer</h4>
                                <h6>Designer</h6>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_2.jpg' %}" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                                <h5><i class="material-icons">format_quote</i></h5>
                                <h4>Florence M. Cofer</h4>
                                <h6>Designer</h6>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/img/volanteer_3.jpg' %}" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                                <h5><i class="material-icons">format_quote</i></h5>
                                <h4>Florence M. Cofer</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}